article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, header, footer {
	display: block;
}
audio, canvas, video {
	display: inline-block;
*display: inline;
*zoom: 1;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
display: none;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0;
}
abbr[title] {
	border-bottom: 1px dotted;
}
blockquote {
	margin: 1em 40px;
}
dfn {
	font-style: italic;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #333;
	margin: 15px 0 2px;
	padding: 0;
}
ins {
	text-decoration: none;
}
mark {
	background: #ff0;
	color: #686868;
	font-style: italic;
	font-weight: bold;
}
pre, code, kbd, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before, q:after {
	content: "";
	content: none;
}
small {
	font-size: 85%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0;
}
form {
	margin: 0;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
label {
	cursor: pointer;
}
legend {
	border: 0;
*margin-left: -7px;
	padding: 0;
	white-space: normal;
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
*vertical-align: middle;
}
button, input {
	line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
*overflow: visible;
}
button[disabled], input[disabled] {
	cursor: default;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
*width: 13px;
*height: 13px;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}
input:valid, textarea:valid {
}
input:invalid, textarea:invalid { /*background-color: #f0dddd;*/
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*td { vertical-align: top; }*/
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: black;
	padding: 0.2em 0;
}
.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
*line-height: 0;
}
.ir br {
	display: none;
}
.hidden {
	display: none;
}
.toggle .hidden {
	display: block;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
*zoom: 1;
}
::-webkit-input-placeholder { /* Chrome */
opacity: 0.7;
color:#8d8d8d;
}
:-ms-input-placeholder { /* IE 10+ */
opacity: 0.7;
filter: alpha(opacity=70);
}
::-moz-placeholder { /* Firefox 19+ */
opacity: 0.7;
}
:-moz-placeholder { /* Firefox 4 - 18 */
opacity: 0.7;
}
select::-ms-expand {
display: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}
select option {
	padding: 4px;
}
label {
	width: 100%;
	display: block;
	margin: 10px 0 4px;
	font: normal 16px/22px Arial, Helvetica, sans-serif;
	text-align: left;
	color: #585858;
	box-sizing: border-box;
}
label.input {
	padding: 0 0 0 20px;
	position: relative;
}
label.input input[type="checkbox"], label.input input[type="radio"] {
	left: 2px;
	position: absolute;
	top: 5px;
}
label.mandatory:before {
	content: "* ";
	color: #F00;
}
.wpcf7-form-control-wrap {
	width: 100%;
	display: block;
	box-sizing: border-box;
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], input[type="url"] {
	height: 40px;
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid #aaa;
	text-indent: 10px;
	font: 400 15px/40px 'Philosopher', sans-serif;
	width: 100%;
	box-sizing: border-box;
	color: #999797;
	margin: 15px 0 0;
	border-radius: 4px;
}
textarea {
	height: 80px;
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid #aaa;
	padding: 5px;
	font: 400 15px/24px 'Philosopher', sans-serif;
	width: 100%;
	resize: none;
	box-sizing: border-box;
	color: #999797;
	margin: 15px 0 0;
	border-radius: 4px;
}
select {
	height: 40px;
	background: #fff url(../images/select.png) no-repeat 99% 50%;
	border: 1px solid #aaa;
	text-indent: 3px;
	font: 400 15px/40px 'Philosopher', sans-serif;
	width: 100%;
	margin: 10px 0 0;
	box-sizing: border-box;
	color: #585858;
	border-radius: 4px;
}
input[type="submit"], input[type="button"], button[type="submit"] {
	border: solid 1px #333;
	cursor: pointer;
	color: #333;
	background: none;
	font: 400 18px/30px 'Philosopher', sans-serif;
	text-transform: capitalize;
	padding: 0 20px;
	margin: 20px auto 0;
	display: inline-table;
	transition: all 300ms ease-out 0s;
	border-radius: 4px;
	text-transform: uppercase;
}
.select2-container .select2-choice {
	font: normal 15px/36px Arial, Helvetica, sans-serif;
	height: 36px;
}
#content .woocommerce-billing-fields p {
	padding: 0!important;
	margin: 0 !important;
}
#billing_address_2 {
	margin: 10px 0 0;
}
#payment label {
	display: inline-block;
	width: auto;
}
#content .variation-Options p {
	padding: 0;
}
@media only screen and (max-width: 740px) {
.no-label input[type="text"], .no-label input[type="email"], .no-label input[type="password"], .no-label textarea, select, .no-label input[type="submit"], .no-label input[type="button"] {
	margin: 10px 0 0;
}
}
.wpcf7 p {
	clear: both;
	width: 100%;
}
@media print {
* {
	background: transparent !important;
	color: black !important;
	box-shadow: none !important;
	text-shadow: none !important;
	filter: none !important;
	-ms-filter: none !important;
} /* Black prints faster: h5bp.com/s */
a, a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: " (" attr(href) ")";
}
abbr[title]:after {
	content: " (" attr(title) ")";
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	content: "";
}  /* Don't show links for images, or javascript/internal links */
pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group;
} /* h5bp.com/t */
tr, img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
 @page {
margin: 0.5cm;
}
p, h2, h3 {
	orphans: 3;
	widows: 3;
}
h2, h3 {
	page-break-after: avoid;
}
}
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
	/*vertical-align: top;*/
	border: 0px;
}
iframe {
	max-width: 100%;
	vertical-align: top;
}
a {
	text-decoration: none;
	transition: all 300ms ease-out 0s;
}
.clear {
	clear: both;
	line-height: 0;
}
div {
	display: block;
	min-height: 1px;
}
a:focus, button:focus, input:focus, textarea:focus {
	outline: none;
}
#wpadminbar ul:after {
	clear: inherit;
}
div:after, ul:after, ol:after {
	clear: both;
	line-height: 0;
	content: "";
	display: table;
}
header ul, footer ul {
	list-style-type: none;
}
.flex-xl, .flex-l, .flex-m, .flex-s, .flex-xs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.v-align-m {
	align-items: center;
}
.margin-top {
	margin-top: 20px;
}
.margin-bottom {
	margin-bottom: 20px;
}
.margin {
	margin-top: 20px;
	margin-bottom: 20px;
}
.margin-small-top {
	margin-top: 10px;
}
.margin-small-bottom {
	margin-bottom: 10px;
}
.margin-small {
	margin-top: 10px;
	margin-bottom: 10px;
}
.gap {
	padding-bottom: 20px;
	padding-top: 20px;
}
.gap-bottom {
	padding-bottom: 20px;
}
.gap-top {
	padding-top: 20px;
}
.gap {
	padding-bottom: 20px;
	padding-top: 20px;
}
.gap-small-top {
	padding-top: 10px;
}
.gap-small {
	padding-bottom: 10px;
	padding-top: 10px;
}
.gap-small-bottom {
	padding-bottom: 10px;
}
.space {
	padding: 3px;
}
.pos-r {
	position: relative;
}
.tt-u {
	text-transform: uppercase;
}
.tt-c {
	text-transform: capitalize;
}
.tt-l {
	text-transform: lowercase;
}
.fifty {
	width: 96%;
	float: none;
	margin: 0 auto;
}
.dropdown {
	display: none;
}
.no-padding {
	padding: 0 !important
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
img.align-center, img.align-left, img.align-right {
	margin: 10px auto;
	display: block;
	float: none;
	max-width: 100%;
}
.wrapper {
	margin: 0 auto; /*width:310px;*/
	width: 92%;
}
.wrapper-2 {
	width: 96%;
}
.row [class*="col-xs"] {
	margin-left: 2.5641%;
	float: left;
}
.row [class*="col-xs"]:first-child, .row [class*="col-xs"].first {
	margin-left: 0;
}
.col-xs-1 {
	width: 5.98291%;
}
.col-xs-2 {
	width: 14.5299%;
}
.col-xs-3 {
	width: 23.0769%;
}
.col-xs-4 {
	width: 31.6239%;
}
.col-xs-5 {
	width: 40.1709%;
}
.col-xs-6 {
	width: 48.7179%;
}
.col-xs-7 {
	width: 57.265%;
}
.col-xs-8 {
	width: 65.812%;
}
.col-xs-9 {
	width: 74.359%;
}
.col-xs-10 {
	width: 82.906%;
}
.col-xs-11 {
	width: 91.453%;
}
.col-xs-12 {
	width: 100%;
}
 @media only screen and (min-width: 450px) {
.wrapper { /*width:460px;*/
	width: 98%;
}
.wrapper-2 {
	width: 98%;
}
.row [class*="col-s"] {
	margin-left: 2.5641%;
	float: left;
}
.row [class*="col-s"]:first-child, .row [class*="col-s"].first {
	margin-left: 0;
}
.col-s-1 {
	width: 5.98291%;
}
.col-s-2 {
	width: 14.5299%;
}
.col-s-3 {
	width: 23.0769%;
}
.col-s-4 {
	width: 31.6239%;
}
.col-s-5 {
	width: 40.1709%;
}
.col-s-6 {
	width: 48.7179%;
}
.col-s-7 {
	width: 57.265%;
}
.col-s-8 {
	width: 65.812%;
}
.col-s-9 {
	width: 74.359%;
}
.col-s-10 {
	width: 82.906%;
}
.col-s-11 {
	width: 91.453%;
}
.col-s-12 {
	width: 100%;
}
}
@media only screen and (min-width: 740px) {
.margin-top {
	margin-top: 40px;
}
.margin-bottom {
	margin-bottom: 40px;
}
.margin {
	margin-top: 40px;
	margin-bottom: 40px;
}
.margin-small-top {
	margin-top: 20px;
}
.margin-small-bottom {
	margin-bottom: 20px;
}
.margin-small {
	margin-top: 20px;
	margin-bottom: 20px;
}
.gap-top {
	padding-top: 40px;
}
.gap {
	padding-bottom: 40px;
	padding-top: 40px;
}
.gap-bottom {
	padding-bottom: 40px;
}
.gap-small-top {
	padding-top: 20px;
}
.gap-small {
	padding-bottom: 20px;
	padding-top: 20px;
}
.gap-small-bottom {
	padding-bottom: 20px;
}
img.align-left {
	margin: 10px 10px 0 0;
	float: left;
	max-width: 50%;
}
img.align-right {
	margin: 10px 0 0 10px;
	float: right;
	max-width: 50%;
}
.space {
	padding: 6px;
}
.wrapper {
	width: 748px;
}
.wrapper-2 {
	width: 374px;
}
.row [class*="col-m"] {
	margin-left: 2.5641%;
	float: left;
}
.row [class*="col-m"]:first-child, .row [class*="col-m"].first {
	margin-left: 0;
}
.col-m-1 {
	width: 5.98291%;
}
.col-m-2 {
	width: 14.5299%;
}
.col-m-3 {
	width: 23.0769%;
}
.col-m-4 {
	width: 31.6239%;
}
.col-m-5 {
	width: 40.1709%;
}
.col-m-6 {
	width: 48.7179%;
}
.col-m-7 {
	width: 57.265%;
}
.col-m-8 {
	width: 65.812%;
}
.col-m-9 {
	width: 74.359%;
}
.col-m-10 {
	width: 82.906%;
}
.col-m-11 {
	width: 91.453%;
}
.col-m-12 {
	width: 100%;
}
.right.wrapper-2 {
	float: right;
}
.left.wrapper-2 {
	float: left;
}
.fifty {
	width: 50%;
	float: left;
}
.table {
	width: 100%;
	max-width: 100%;
	display: table;
}
.table-cell {
	display: table-cell;
	vertical-align: middle;
	float: none !important
}
.table-1 {
	width: 10%;
}
.table-2 {
	width: 20%;
}
.table-3 {
	width: 30%;
}
.table-4 {
	width: 40%;
}
.table-5 {
	width: 50%;
}
.table-6 {
	width: 60%;
}
.table-7 {
	width: 70%;
}
.table-8 {
	width: 80%;
}
.table-9 {
	width: 90%;
}
.table-10 {
	width: 100%;
}
}
@media only screen and (min-width: 990px) {
.wrapper {
	width: 1000px;
}
.row [class*="col-l"] {
	margin-left: 2.5641%;
	float: left;
}
.row [class*="col-l"]:first-child, .row [class*="col-l"].first {
	margin-left: 0;
}
.col-l-1 {
	width: 5.98291%;
}
.col-l-2 {
	width: 14.5299%;
}
.col-l-3 {
	width: 23.0769%;
}
.col-l-4 {
	width: 31.6239%;
}
.col-l-5 {
	width: 40.1709%;
}
.col-l-6 {
	width: 48.7179%;
}
.col-l-7 {
	width: 57.265%;
}
.col-l-8 {
	width: 65.812%;
}
.col-l-9 {
	width: 74.359%;
}
.col-l-10 {
	width: 82.906%;
}
.col-l-11 {
	width: 91.453%;
}
.col-l-12 {
	width: 100%;
}
.wrapper-2 {
	width: 500px;
}
}
@media only screen and (min-width: 1198px) {
.wrapper {
	width: 1199px;
}
.row [class*="col-xl"] {
	margin-left: 2.5641%;
	float: left;
}
.row [class*="col-xl"]:first-child, .row [class*="col-xl"].first {
	margin-left: 0;
}
.col-xl-1 {
	width: 5.98291%;
}
.col-xl-2 {
	width: 14.5299%;
}
.col-xl-3 {
	width: 23.0769%;
}
.col-xl-4 {
	width: 31.6239%;
}
.col-xl-5 {
	width: 40.1709%;
}
.col-xl-6 {
	width: 48.7179%;
}
.col-xl-7 {
	width: 57.265%;
}
.col-xl-8 {
	width: 65.812%;
}
.col-xl-9 {
	width: 74.359%;
}
.col-xl-10 {
	width: 82.906%;
}
.col-xl-11 {
	width: 91.453%;
}
.col-xl-12 {
	width: 100%;
}
.wrapper-2 {
	width: 600px;
}
}
@media only screen and (min-width: 1399px) {
.wrapper {
	width: 1400px;
}
.wrapper-2 {
	width: 700px;
}
}
@media (max-width: 477px) {
.hidden-xs {
	display: none;
}
.row-xs-1 > [class*="col"] {
clear: left;
margin-left:0;
}
.row-xs-2 > [class*="col"]:nth-child(2n+1) {
	clear: left;
	margin-left: 0;
}
.row-xs-3 > [class*="col"]:nth-child(3n+1) {
	clear: left;
	margin-left: 0;
}
.row-xs-4 > [class*="col"]:nth-child(4n+1) {
	clear: left;
	margin-left: 0;
}
.row-xs-6 > [class*="col"]:nth-child(6n+1) {
	clear: left;
	margin-left: 0;
}
}
@media (min-width: 478px) and (max-width: 767px) {
.hidden-s {
	display: none;
}
.row-s-1 > [class*="col"] {
clear: left;
margin-left:0;
}
.row-s-2 > [class*="col"]:nth-child(2n+1) {
	clear: left;
	margin-left: 0;
}
.row-s-3 > [class*="col"]:nth-child(3n+1) {
	clear: left;
	margin-left: 0;
}
.row-s-4 > [class*="col"]:nth-child(4n+1) {
	clear: left;
	margin-left: 0;
}
.row-s-6 > [class*="col"]:nth-child(6n+1) {
	clear: left;
	margin-left: 0;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.hidden-m {
	display: none;
}
.row-m-1 > [class*="col"] {
clear: left;
margin-left:0;
}
.row-m-2 > [class*="col"]:nth-child(2n+1) {
	clear: left;
	margin-left: 0;
}
.row-m-3 > [class*="col"]:nth-child(3n+1) {
	clear: left;
	margin-left: 0;
}
.row-m-4 > [class*="col"]:nth-child(4n+1) {
	clear: left;
	margin-left: 0;
}
.row-m-6 > [class*="col"]:nth-child(6n+1) {
	clear: left;
	margin-left: 0;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
.hidden-l {
	display: none;
}
.row-l-1 > [class*="col"] {
clear: left;
margin-left:0;
}
.row-l-2 > [class*="col"]:nth-child(2n+1) {
	clear: left;
	margin-left: 0;
}
.row-l-3 > [class*="col"]:nth-child(3n+1) {
	clear: left;
	margin-left: 0;
}
.row-l-4 > [class*="col"]:nth-child(4n+1) {
	clear: left;
	margin-left: 0;
}
.row-l-6 > [class*="col"]:nth-child(6n+1) {
	clear: left;
	margin-left: 0;
}
}
@media (min-width: 1200px) {
.hidden-xl {
	display: none;
}
.row-xl-1 > [class*="col"] {
clear: left;
margin-left:0;
}
.row-xl-2 > [class*="col"]:nth-child(2n+1) {
	clear: left;
	margin-left: 0;
}
.row-xl-3 > [class*="col"]:nth-child(3n+1) {
	clear: left;
	margin-left: 0;
}
.row-xl-4 > [class*="col"]:nth-child(4n+1) {
	clear: left;
	margin-left: 0;
}
.row-xl-6 > [class*="col"]:nth-child(6n+1) {
	clear: left;
	margin-left: 0;
}
}
 @media only screen and (max-width: 1198px) {
.flex-xl {
	display: block;
}
}
@media only screen and (max-width: 990px) {
.flex-l {
	display: block;
}
}
@media only screen and (max-width: 740px) {
.flex-m {
	display: block;
}
}
@media only screen and (max-width: 450px) {
.flex-s {
	display: block;
}
}
